[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/EmergentBehavior/hugo-strata-theme.git
[submodule "hugo-strata-theme"]
	path = hugo-strata-theme
	url = https://github.com/EmergentBehavior/hugo-strata-theme.git
